.inbox-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20rem;
    background: black;
    padding: 1rem;
    border: 1px solid #33383F;
}

.allinbox-text {
    font-style: Open Sans;
    color: #4285F4;
}

.new-msg-count {
    color: #5C7CFA;
    background: #222426;
}