.inbox-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20rem;
    padding: 1rem;
    border: 1px solid;
}

.allinbox-text {
    font-style: Open Sans;
    color: #4285F4;
}

.new-msg-count {
    color: #5C7CFA;
}

.dark-count {
    background: #222426;
}

.light-count {
    background: #ECEFF3;
}